node_modules/
.env
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
.idea/
.vscode/
dist/
build/
*.csv
*.mp4
*.webm
*.log
static/temp_*

# Allow specific data templates and videos in backend
!backend/data/templates/*.csv
!backend/data/templates/*.mp4
!backend/data/testing_videos/
!backend/data/testing_videos/*.mp4
!backend/data/*.csv
