# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/

# Data and Models
# (We ignore heavy models and temp processing files, but track templates and testing videos)
temp_*

# Allow specific templates and testing data
!data/templates/*.csv
!data/templates/*.mp4
!data/testing_videos/
!data/testing_videos/*.mp4
!data/*.csv

# OS
.DS_Store
Thumbs.db
